

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



h1 a{display:block;	
     text-indent:-9999px;    
     position:relative;
  	 width:400px; height:120px;
  	 top:90px;
  	 background:url(images/logo_title.png) no-repeat left top;
  	 margin-right:5%;
	 }

li{font-family:helvetica;
	letter-spacing:0.01em;
	width:50px;
	float:left;
	}

p{font-family:whitney;}

img{width:500px;}

h1{font-family:helvetica;
   font-weight: bold;
	font-size:1.5em;}

#website{position:relative;
		 height:900px;
		 max-width:960px;
	 	 margin:0 auto;}


#top-nav{position:absolute;
		top: 90px;
		left: 544px;
		height: 30px;
		width: 100%;
		text-align: center;}

.circle{padding:5px;
		margin-right:10%;
		}
#photos{position:relative;
		left:80px;
		top:150px;}
#information{position:absolute;
			 top:265px;
			 left:620px;
			 width:500px;}