

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{max-width:960px;
	 margin: 0 auto;}

h1 a{display:block;	
     text-indent:-9999px;    
     position:relative;
  	 width:400px; height:120px;
  	 top:70px;
  	 right:50px;
  	 background:url(images/logo_title.png) no-repeat left top;
	 }

#website{position:relative;
		 margin:0 auto;}

#top-nav{position:absolute;
		top: 90px;
		left: 450px;
		height: 30px;
		width:500px;
		text-align: center;}
#profile{float:left;}
#aboutme{float:right;
		 width:300px;}
#slideshow{position:relative;
			top:50px;
			}
#shot{position:absolute;
	  top:100px;
	  width:900px;
	  height:500px;}

#pictures{position:relative;
			   }

#bass{position:absolute;
	  top:180px;
		filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscalerayscale");
filter: gray;
-webkit-filter: grayscale(100%);
-moz-transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;}

#bass:hover {
filter: none;
-webkit-filter: grayscale(0%);
}


#lemons{position:absolute;
	   top:180px;
	   left:300px;
		filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscalerayscale");
filter: gray;
-webkit-filter: grayscale(100%);
-moz-transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;}

#lemons:hover {
filter: none;
-webkit-filter: grayscale(0%);
}

#miyavi{position:absolute;
	   top:180px;
	   left:600px;
		filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscalerayscale");
filter: gray;
-webkit-filter: grayscale(100%);
-moz-transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;}

#miyavi:hover {
filter: none;
-webkit-filter: grayscale(0%);
}

#opposites{position:absolute;
	  top:460px;
		filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscalerayscale");
filter: gray;
-webkit-filter: grayscale(100%);
-moz-transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;}

#opposites:hover {
filter: none;
-webkit-filter: grayscale(0%);
}

#climate{position:absolute;
	  top:460px;
	  left:600px;
		filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscalerayscale");
filter: gray;
-webkit-filter: grayscale(100%);
-moz-transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;}

#climate:hover {
filter: none;
-webkit-filter: grayscale(0%);
}

#book{position:absolute;
	   top:460px;
	   left:300px;
		filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscalerayscale");
filter: gray;
-webkit-filter: grayscale(100%);
-moz-transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;}

#book:hover {
filter: none;
-webkit-filter: grayscale(0%);
}

#content{position:relative;
				top:180px;
				}

#me{position:relative;
	 width:300px;
	 }
.aboutme{position:absolute;
		width:500px;
		left:380px;
		top:20px;
		line-height:25px;}
#photos{position:relative;
		top:150px;
	    }
#information{position:absolute;
			 top:265px;
			 left:550px;
			 width:300px;
			 line-height:25px;}




#top-nav li{font-family:helvetica;
	letter-spacing:0.01em;
	float:left;
	}
p{font-family:helvetica;}

#contacts{padding-top:10px;}


.circle{width:95px;
height:95px;
border-radius:250px;
font-size:0.8em;
color:#fff;
-webkit-transition: 1s;
line-height:95px;
text-align:center;
background:#000;
margin-right:56px;
}

.circle a{color:white;
  list-style:none;}


.circle:hover{background:#009999;}




h1{font-size:15px;
	font-family:Helvetica;
	color:gray;
	font-weight:bold;}



.slider-wrapper{width:500px;
				}

#others {position:absolute;
	  		width:300px;
	  		left:550px;
	  		top:520px;}
#others {line-height:29px;}
#others li{font-family:helvetica;
			color:black;}
#others h1{	border-bottom:3px solid grey;
	padding-bottom:7px;
	letter-spacing:0.07em;}
#information h1{	border-bottom:3px solid grey;
	padding-bottom:7px;
	letter-spacing:0.07em;}



