

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

li {
	display: inline-block;
 	list-style: none;
	font-style:Baskerville;
	font-weight:bold;
	font-size:30px;
	float:left;
	padding:10px;

	}
ul{position:absolute;
	left:21.8%;
	bottom:72%;
	}
 a{color:black;}

h1{font-size:25px;
	font-family:Baskerville;
	font-weight:bold;
	margin-top:5px;
	margin-bottom:5px;}
h2{font-size:25px;
   font-family:Baskerville;
	font-weight:Bold;
	margin-top:5px;
	margin-bottom:5px;}
p{font-family:Baskerville;
  font-size:15px;}
hr{border:3px solid black;
	margin-bottom:50px;
	width:100;}

body{width:100%;}
#site-header{position:relative;
			margin:auto;
			display:block;  
 			width:100%; 
 			height:110px;  
 			background:url(images/dogvscat-logo.gif) no-repeat center; 
 			text-indent:-9999px;
 			padding-top:10px;
 			margin-top:30px;
 			margin-bottom:20px;
 			}

#top-menu{border-top:5px solid black;	
		  border-bottom:5px solid black;
		  padding:15px;
		  margin:15px;
		  background-color:white;
		  height:20px;
		  width:110%;}
.article1{float:left;
		   width:390px;
			margin-left:280px;
			margin-bottom:25px;}
.article2{float:right;
			width:400px;
			margin-right:308px;
			margin-bottom:25px;}
footer{clear:right;
		}
.link1{ position:absolute;
		width:260px;
		left:19.5%;
		bottom:12%;
	    text-decoration:none;}
.link2{position:absolute;
		bottom:12%;
		left:66.5%;
		}

#site-footer{border-top:5px solid black;
			width:110%;}

